body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font: 1em sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  display: flex; /* puts elements together without space*/
  justify-content: space-around; /*space out elements evenly*/
  width: 20%;
  margin-left: auto; /*snaps an element to the extreme right*/
  margin-top: 1em;
}

nav a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav img {
  height: 20px;
}

main {
  width: 50%;
  margin: 5em auto;
  text-align: center;
}

.search_box {
  height: 40px;
  padding: 0.1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid rgb(212, 197, 197);
  margin-top: 1em;
  border-radius: 2em;
}

.search_box input {
  width: 90%;
  padding: 1em;
  border-radius: 2em;
  border: none;
}

.search_box img {
  height: 25px;
  margin: 0.5em;
}

.button_container {
  margin: 2em auto;
}
.button_container button {
  padding: 0.8em;
  margin: 0.3em;
  border: none;
  border-radius: 0.5em;
}

.google_offers a {
  margin-left: 0.5em;
}

main a {
  text-decoration: none;
}

footer {
  background-color: rgb(248, 242, 242);
  color: #000;
}
footer a {
  text-decoration: none;
  color: black;
}

.footer_top {
  padding: 1em;
  border-bottom: 1px solid grey;
}
.footer_bottom {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.left a {
  margin-right: 1em;
}

.right a {
  margin-left: 1em;
}

nav img:hover {
  height: 22px;
}

.button_container button:hover {
  border: 1px solid rgb(233, 226, 226);
}

.middle img {
  height: 13px;
}
